* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  background: -webkit-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  background: -moz-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  color: #3D3D3D;
  font-weight: 300;
  padding: 0 5%; }

.clear-fix {
  clear: both; }

nav {
  padding: 25px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: .85em; }
  nav .access-cntent {
    color: #3D3D3D;
    text-decoration: none;
    width: 12%;
    text-align: center;
    padding: 7px 0;
    border: 2px solid #202D85; }
    nav .access-cntent:hover {
      color: #202D85; }
  nav a:nth-child(2) {
    margin-left: 10px; }
  nav .ui-wrap {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.1em; }
    nav .ui-wrap .userform {
      color: #202D85;
      padding: 6px 35px;
      border: 2px solid #202D85;
      background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
      background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
      cursor: pointer;
      font-weight: 400; }
      nav .ui-wrap .userform:hover {
        color: #fff;
        background: -webkit-linear-gradient(top, #202D85, #2A3CB0);
        background: -moz-linear-gradient(top, #202D85, #2E96BF); }
    nav .ui-wrap .uinav {
      cursor: pointer;
      margin-left: 15px; }
      nav .ui-wrap .uinav .bar {
        width: 40px;
        height: 5px;
        margin: 6px 0;
        background-color: #202D85; }

/*end of nav*/
.loginmod {
  /*beggining of clientlogin*/
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.3); }
  .loginmod .closemodal {
    float: right;
    cursor: pointer; }
    .loginmod .closemodal .bar {
      width: 35px;
      height: 5px;
      margin: 6px 0;
      background-color: #202D85;
      transform: rotate(-45deg) translate(-9px, 6px); }
    .loginmod .closemodal .two {
      transform: rotate(45deg); }

.modalwrap {
  width: 70%;
  margin: 8% auto;
  background: -webkit-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  background: -moz-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
  /*end of formwrap*/ }
  .modalwrap .modalcontent {
    width: 87%;
    padding: 5% 0 5% 5%;
    display: flex;
    margin: 0 auto; }
  .modalwrap .formintro {
    width: 54%;
    float: left;
    padding: 10px 15px; }
    .modalwrap .formintro h1 {
      font-size: 2.4em;
      margin-bottom: 25px;
      font-weight: 800;
      color: #55F5E9;
      text-decoration: underline; }
    .modalwrap .formintro p {
      font-size: 1.3em;
      padding: 0 30px 0 0;
      margin-top: 20px; }
  .modalwrap #formwrap {
    width: 45%;
    border: 2px solid #202D85; }
    .modalwrap #formwrap h1 {
      color: #202D85;
      text-decoration: none; }
    .modalwrap #formwrap form {
      padding: 1%;
      margin: 0 auto; }
    .modalwrap #formwrap .ua-experience {
      font-size: 1.5em;
      font-weight: 400; }
    .modalwrap #formwrap .user {
      width: 100%;
      padding: 13px 8px;
      margin: 15px 0 9px 0;
      font-size: .8em;
      border: .5px solid #3D3D3D;
      box-sizing: border-box; }
    .modalwrap #formwrap .log-on {
      margin: 12px 0;
      font-size: .75em;
      font-weight: 800; }
    .modalwrap #formwrap .sign-in {
      color: #202D85;
      padding: 6px 35px;
      border: 2px solid #202D85;
      cursor: pointer;
      background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
      background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9); }
      .modalwrap #formwrap .sign-in:hover {
        background: -webkit-linear-gradient(top, #202D85, #2A3CB0);
        background: -moz-linear-gradient(top, #202D85, #2E96BF);
        text-decoration: none;
        color: #fff; }
    .modalwrap #formwrap a {
      text-decoration: none;
      color: #202D85; }
      .modalwrap #formwrap a:hover {
        text-decoration: underline; }
    .modalwrap #formwrap #checkbox {
      display: flex;
      align-items: center;
      font-size: .8em; }
      .modalwrap #formwrap #checkbox span {
        margin-left: 5px; }
    .modalwrap #formwrap .forgot-password {
      font-size: .8em;
      margin: 12px 0; }

/*end of clientlogin*/
/*beggining of #myNav*/
.navOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.6s;
  background-color: #55F5E9; }
  .navOverlay .closebtn {
    float: right;
    margin-top: 2%;
    padding: 0 5%; }
    .navOverlay .closebtn .bar {
      width: 40px;
      height: 5px;
      margin: 6px 0;
      background-color: #202D85;
      transform: rotate(-45deg) translate(-9px, 6px); }
    .navOverlay .closebtn .two {
      transform: rotate(45deg); }

.navContent {
  padding: 0 5%;
  display: inline; }
  .navContent .navselections {
    display: flex;
    align-items: center;
    margin: 10% 0; }
  .navContent .catego-wrap {
    position: relative;
    width: 33.3%;
    float: left;
    text-align: center; }
  .navContent h2 {
    color: #202D85; }
  .navContent a {
    padding: 6px 0;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .navContent a:hover {
      color: #f1f1f1; }
    .navContent a:focus {
      color: #f1f1f1; }

/*end of #myNav*/
@media screen and (max-width: 1024px) {
  .modalwrap {
    margin: 15% auto; }
    .modalwrap .formintro {
      width: 54%;
      padding: 10px 15px; }
      .modalwrap .formintro h1 {
        font-size: 2em;
        margin-bottom: 8px; }
      .modalwrap .formintro p {
        font-size: 1.3em;
        padding: 0 30px 0 0; }
    .modalwrap #formwrap .user {
      width: 100%;
      padding: 12px 8px;
      margin: 13px 0 9px 0;
      font-size: .8em;
      border: .5px solid #3D3D3D;
      box-sizing: border-box; }

  /*end of modalwrap*/
  .navContent .navContent {
    margin: 15% 0; } }
@media screen and (max-width: 868px) {
  nav .access-cntent {
    width: 15%; } }
@media only screen and (max-width: 823px) {
  .modalwrap {
    margin: 15% auto; }
    .modalwrap .modalcontent {
      padding: 4% 0; }
    .modalwrap .formintro {
      padding: 10px 15px; }
      .modalwrap .formintro h1 {
        font-size: 1.5em;
        margin-bottom: 8px;
        text-decoration: none; }
      .modalwrap .formintro p {
        font-size: 1.1em;
        padding: 0 30px 0 0; }
    .modalwrap #formwrap form {
      padding: 0; }
    .modalwrap #formwrap .ua-experience {
      font-size: 1.2em; }
    .modalwrap #formwrap .user {
      padding: 8px 8px;
      margin: 5px 0 9px 0;
      font-size: .6em; }
    .modalwrap #formwrap .log-on {
      margin: 9px 0;
      font-size: .6em;
      font-weight: 800; }
    .modalwrap #formwrap .sign-in {
      color: #202D85;
      padding: 4px 20px;
      border: 2px solid #202D85; }
    .modalwrap #formwrap #checkbox {
      font-size: .6em; }
    .modalwrap #formwrap .forgot-password {
      font-size: .6em;
      margin: 8px 0; }

  .navOverlay .closebtn {
    margin-top: 3%; }

  .navContent h2 {
    font-size: 1.1em; }
  .navContent a {
    font-size: 1em;
    margin-top: 3px; } }
@media screen and (max-width: 736px) {
  nav {
    font-size: .5em; }
    nav .access-cntent {
      padding: 6px 0;
      border: 2px solid #202D85; }

  .modalwrap .formintro h1 {
    font-size: 1.3em;
    margin-bottom: 5px;
    text-decoration: none; }
  .modalwrap .formintro p {
    font-size: .9em; }
  .modalwrap #formwrap .ua-experience {
    font-size: .8em; }
  .modalwrap #formwrap .user {
    padding: 6px;
    margin: 5px 0 9px 0;
    font-size: .6em; }
  .modalwrap #formwrap .log-on {
    font-size: .5em;
    margin: 9px 0;
    font-weight: 400; }
  .modalwrap #formwrap .sign-in {
    padding: 3px 12px; } }
@media screen and (max-width: 568px) {
  nav {
    font-size: .55em;
    font-weight: 400; }
    nav .access-cntent {
      width: 18%;
      padding: 3px 0;
      border: 0; }
    nav a:nth-child(2) {
      margin-left: 8px; }
    nav .ui-wrap .userform {
      padding: 3px 20px; }
    nav .ui-wrap .uinav .bar {
      width: 27px;
      height: 4px;
      margin: 4px 0; }

  .loginmod .closemodal {
    position: absolute;
    right: 17%;
    top: 14%; }
    .loginmod .closemodal .bar {
      width: 27px;
      height: 4px;
      margin: 6px 0; }

  .modalwrap {
    width: 65%;
    margin: 25% auto;
    background: transparent; }
    .modalwrap .modalcontent {
      width: 100%;
      padding: 0;
      display: inline-block;
      margin: 0 auto; }
    .modalwrap .formintro {
      width: 100%;
      display: none;
      background: -webkit-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA);
      background: -moz-linear-gradient(top, #EDEDED, #F7F7F7, #FAFAFA); }
    .modalwrap #formwrap {
      width: 100%;
      margin: 0;
      display: block; }

  .navOverlay .closebtn {
    margin-top: 5%;
    padding: 0; }
    .navOverlay .closebtn .bar {
      width: 27px;
      height: 4px;
      margin: 6px 0; }

  .navContent {
    display: inline-block; }
    .navContent .navselections {
      width: 100%;
      display: inline-block; }
    .navContent .catego-wrap {
      width: 100%;
      float: left; }
    .navContent h2 {
      margin-top: 10px;
      font-size: 1.1em;
      padding: 5px;
      border-top: 2px solid #202D85; }
    .navContent a {
      font-size: 1em;
      margin-top: 3px; } }

/*# sourceMappingURL=styles.css.map */
